#list {
  height: 50vh;
  width: 33vw;
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;
  overflow: scroll;
}

.control {
  display: block;
  width: 100%;
  padding: 0.5em;
}

.row {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.2em;
}

.class-input {
  flex: 1;
}

#schedule-dialog {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

#schedule {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-row {
  display: flex;
  justify-content: space-between;
  gap: 8em;
  margin-bottom: 1em;
}
.schedule-row:last-child {
  margin-bottom: 0;
}
