#list {
  height: 50vh;
  width: 80vw;
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;
  overflow: scroll;
}

@media (min-width: 1024px) {
  #list {
    height: 50vh;
    width: 33vw;
  }
}

.control {
  display: block;
  width: 100%;
  padding: 0.75em;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: .2em .5em;
  margin-bottom: 0.5em;
}

.row div {
  display: flex;
  column-gap: 0.5em;
}

.class-input {
  flex: 1;
}

#schedule-dialog {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

#schedule {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-row {
  display: flex;
  justify-content: space-between;
  gap: 4em;
  margin-bottom: 1em;
}
.schedule-row:last-child {
  margin-bottom: 0;
}
